@import "@/style/base.scss";

.i-radio {
    display: inline-block;
    height: 20px;
    line-height: 20px;

    &--is-disabled {
        cursor: not-allowed;
    }

    &__icon {
        margin-right: 5px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid $disable;
        border-radius: 100%;
        box-sizing: border-box;
        cursor: pointer;
        background-color: $white;
        transition: all 0.3s;

        &--is-checked {
            border: 5px solid $primary;
        }

        &--is-disabled {
            cursor: not-allowed;
            border: 5px solid $disable-hover;
        }

        &--is-disabled-not-check {
            background-color: lighten($disable-hover, 10%);
        }
    }

    &:not(:last-child) {
        margin-right: 18px;
    }

    &__text {
        &--is-disabled {
            color: $disable-hover;
        }
    }
}
