@import "@/style/base.scss";

.i-tag {
    display: inline-block;
    height: 32px;
    padding: 0px 10px;
    line-height: 30px;
    font-size: 12px;
    color: $primary;
    border: 1px solid $primary-hover;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    &__success {
        color: $success;
        border: 1px solid $success-hover;
    }
    &__info {
        color: $info;
        border: 1px solid $info-hover;
    }
    &__warning {
        color: $warning;
        border: 1px solid $warning-hover;
    }
    &__danger {
        color: $cancel;
        border: 1px solid $cancel-hover;
    }
    &__icon {
        margin-top: -3px;
        margin-left: 6px;
    }
    .i-icon {
        font-size: 10px;
        border-radius: 100%;
    }
    .i-icon:hover {
        color: var(--text-color);
        background-color: var(--bg-color);
    }
}
